* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #d8b57a; /* wood color */
    height: 100vh;
}

.container {
    display: flex;
    height: 100%;
    padding: 20px;
}

/* NOTE AREA */
.note-section {
    flex: 3;
    background: #f3e1b3;
    padding: 15px;
    border-radius: 6px;
    margin-right: 20px;
}

.toolbar {
    margin-bottom: 10px;
}

.toolbar button {
    background: #b68d40;
    border: none;
    padding: 6px 10px;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 4px;
}

textarea {
    width: 100%;
    height: 90%;
    resize: none;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 16px;
    background: #fff;
    border-left: 3px solid red;
    line-height: 1.6;
}

/* AUTH AREA */
.auth-section {
    flex: 1;
    background: #c59a4a;
    padding: 20px;
    border-radius: 6px;
}

.auth-section input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
}

.register {
    background: #2d6cdf;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
}

.login {
    background: #444;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
}

.auth-section p {
    text-align: center;
    margin: 10px 0;
}

.error {
    background: #6b4a2d;
    color: white;
    padding: 10px;
    margin-top: 15px;
    border-radius: 4px;
    font-size: 14px;
}
